@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family:"Fira Sans";
    src:url('../public/My fonts/Downloads/FiraSans-SemiBoldItalic.ttf') format('truetype');
     font-style: normal;
}
body {
  font-family: 'MyFont','Fira Sans';
}
